.password-table {
    width: 90%;
    color: white;
}

.password-table th {
    font-size: 24px;
    background-color: #cc837e;
}

.password-table td {
    font-size: 20px;
    background-color: #F4AFAB;
}

.password-table th,
.password-table td {
    text-align: left;
    padding: 25px 10px;
}

.password-table td:last-child {
    background-color: transparent;
    width: 400px;
    padding-right: 0;
    margin-right: 0;
}

.password-table button {
    margin-right: 10px;
    font-size: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
}

.password-text {
    margin-right: 25px;
}
