.password-table {
    width: 90%;
    color: white;
}

.password-table th {
    font-size: 24px;
    background-color: #cc837e;
}

.password-table td {
    font-size: 20px;
    background-color: #F4AFAB;
}

.password-table th,
.password-table td {
    text-align: left;
    padding: 25px 10px;
}

.password-table td:last-child {
    background-color: transparent;
    width: 400px;
    padding-right: 0;
    margin-right: 0;
}

.password-table button {
    margin-right: 10px;
    font-size: 18px;
}